# Database
DATABASE_URL="postgresql://usuario:senha@localhost:5432/financeiro"

# NextAuth.js
NEXTAUTH_SECRET="sua-chave-secreta-aqui"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth (opcional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
